{% extends "/layout.html" %}
{% from "_form_helpers.html" import render_error, render_textarea %}

{% block styles %}{% endblock %}

{% block body %}

<div class="row">

	<!-- left column -->
	<div class="span12">
		<br/>
		<br/>
		<h1>{{ course.title }}</h1>
		<p>by {{ course.instructor }}</p>
		<hr>
		<br/>
		<p>{{ course.description }}</p>
		<br/>

		<br/>

		<h4>|| {{ course.semester }} semester, {{ course.year }}</h4>
		<br/>

		<h3>Categories:</h3>
			<br/>
			<p>{% for cat in course.categories %}
				<span class="labelnew label-inverse"><a href="/category/{{ cat }}">{{ cat|replace("_"," ")}}</a></span>
			{% endfor %}</p>

		<br/>

		<h3>Tags by ITPers</h3>
				<span class="labelnew label-inverse">{{ tags }}</span>
		

		<br/>
		<hr>	
		<br/>

		<!-- ADD COMMENT -->
			<div class="span12">
				<h3> Add your class review: </h3>
				<form method="POST" action="/courses/{{ course.id }}/comment">
					
					<label for="like"><h3 class="comment3">What did you like/dislike about this class/instructor?<h3></label>
					<textarea type="text" cols="100" rows="5" id="like" name="like" class="comment3"></textarea>

					<label for="learn"><h3 class="comment3">What did you learn in this class?<h3></label>
					<textarea type="text" cols="60" rows="3" id="learn" name="learn" class="comment3"></textarea>

					<label for="tags"><h3 class="comment3">Add up to 5 tags that describe this class for you:</h3></label>
					<textarea type="text" cols="60" rows="1" id="tags" name="tags" class="comment3"></textarea>
					<em><h4><span class="help-block" style="margin-top:-15px;margin-bottom:25px">(e.g. "fun, snooze town, FTW...")</span></h4></em>

					<label for="recommendation"><h3 class="comment3">Do you recommend this class?</h3></label>
					  <select id="recommendation" name="recommendation">
					    <option value="yes">Yes</option>
					    <option value="no">No</option>
					    <option value="maybe">Maybe</option>
					  </select>                  	
					
					<label>
					<button type="submit" class="btn btn-info">Comment</button>
					</label>
					<hr>
				</form>
			</div>

		<br/>
		<br/>

			<div class="span11">
			<!-- DISPLAY COMMENTS -->
			<h3>Reviews by ITPers ( {{ course.comments|length }} ):</h3>
				{% for comment in course.comments %}
				<div class="comment">
					<span class="commenter">
						<h3 class="review_count">Review {{ loop.index }}:</h3>
						<h4 class="comment3">|| About the class and instructor:</h4> 
						<p> {{ comment.like }} </p> </span>
					<br>
					<h4 class="comment3">Learned in class: </h4>
					<p>{{ comment.learn }}</p>
					<br>
					<h4 class="comment3">Recommend the Class: 
					<span class="rec">{% filter upper %}{{ comment.recommendation }}{% endfilter %}</span></h4>
					<br>
					<p><small><em>--- Added: {{ comment.timestamp.strftime("%a %m/%d %I:%M%p ") }}</em></small></p>
				</div>
				</hr>
				{% endfor %}

		</div>
		

	</div>

</div>

{% endblock %}

{% block scripts %}{% endblock %}