{% extends "/layout.html" %}
{% from "_form_helpers.html" import render_error, render_textarea %}

{% block styles %}{% endblock %}

{% block body %}

<div class="row">

	<!-- left column -->
	<div class="span12">
		<br/>
		<br/>
		<h2>Class: {{ course.title }}</h2>
		<p>by {{ course.instructor }} ( {{ course.units }} credits course )</p>
		<hr>
		<br/>
		<p>{{ course.description }}</p>
		<br/>

		<br/>

		<h4>|| {{ course.semester }} semester, {{ course.year }}</h4>
		<br/>

		<h3>Categories:</h3>
			<br/>
			<p>{% for cat in course.categories %}
				<span class="label-new"><a href="/category/{{ cat }}">{{ cat|replace("_"," ")}}</a></span>
			{% endfor %}</p>
		<br/>

		<hr>

		<br/>
		<h3>Comments ( {{ course.comments|length }} )</h3>
		<div class="row">

			<!-- DISPLAY COMMENTS -->
			<div class="span12">
				{% for comment in course.comments %}
				<div class="comment">
					<span class="commenter">{{ comment.name }} said,</span><br>
					<p>{{ comment.comment }}</p>
					<p><small>{{ comment.timestamp.strftime("%a %m/%d %I:%M%p ") }}</small></p>
				</div>
				<hr>
				{% endfor %}
			</div>

			<!-- ADD COMMENT -->
			<div class="span12">
				<form method="POST" action="/courses/{{ course.id }}/comment">
					
					<label for="comment"><h3 class="comment3">Comment<h3></label>
					<textarea type="text" cols="120" rows="7" id="comment" name="comment" class="comment3"></textarea>
					
					<label>
					<button type="submit" class="btn btn-info">Comment</button>
					</label>
				</form>
			</div>
		</div>
		

	</div>x	

</div>

{% endblock %}

{% block scripts %}{% endblock %}