{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "layout.html" %}


{% block body %}


<div class="row">

	<!-- left column -->
	<div class="span12">
		<br/>
		<h3 class="offset3">Search classes by <a href="http://coursesitp.herokuapp.com/category/web">category here.</a></h3>
		<hr/>
		<h2>|| All Classes</h2>
		
		{% for course in courses %}
			<h3><a href="/courses/{{ course.slug }}">{{ course.title }}</a></h3>
			<p>by {{ course.instructor }}</p>
			<p>{% for cat in course.categories %}
				<span class="label label-inverse"><a href="/category/{{ cat }}">{{ cat|replace("_"," ")}}</a></span>
			{% endfor %}</p>
			<p>{{ course.description }}</p>
			<hr/>
		{% endfor %}
		
	</div>
</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}